<div class="row my-2 justify-content-center">

    <div class="card col-sm-10 col-md-8 col-lg-6" *ngIf="hero">
        <div class="card-body">

            <h2 class="card-title">{{ hero.name }} details</h2>

            <form>
                <div class="input-group">
                    <span class="input-group-addon bg-secondary text-light" id="basic-addon1">ID:</span>
                    <input type="text" readonly class="form-control" [value]="hero.id" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group my-4">
                    <span class="input-group-addon bg-secondary text-light" id="basic-addon1">Hero name:</span>
                    <input type="text"
                        class="form-control"
                        id="hero-name"
                        [(ngModel)]="hero.name"
                        [ngModelOptions]="{standalone: true}">
                </div>

                <div class="input-group mb-4">
                    <label class="input-group-addon bg-secondary text-light" id="basic-addon1">Hero description:</label>
                    <textarea class="form-control"
                        id="hero-desc"
                        [(ngModel)]="hero.desc"
                        [ngModelOptions]="{standalone: true}"rows="3">
                    </textarea>
                </div>

                <button class="btn btn-dark" (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                <button class="btn btn-info" (click)="save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            </form>

        </div>
    </div>
</div>
