<div class="row my-3">
    <div class="col-sm-12 col-md-6">
        <div class="input-group my-2">
            <input #heroName
                type="text"
                class="form-control"
                placeholder="Hero name">
            <span class="input-group-btn">
                <button (click)="add(heroName.value); heroName.value=''"
                    class="btn btn-info" type="button">
                    <i class="fa fa-plus d-inline-block mr-2" aria-hidden="true"></i>Add
                </button>
            </span>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 col-sm-6">
        <table class="table table-hover bg-white">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Hero Name</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hero of heroes"
                    (click)="onSelect(hero)"
                    [class.selected]="hero === selectedHero">
                    <th>{{ hero.id }}</th>
                    <th>{{ hero.name }}</th>
                    <th>
                        <i (click)="delete(hero)" class="fa fa-trash float-right" aria-hidden="true"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-12 col-sm-6">
        <div *ngIf="selectedHero" class="card text-white bg-white text-dark mb-3">
            <img class="card-img-top" [src]="selectedHero.img" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ selectedHero.name | uppercase }}</h4>
                <p class="card-text">{{ selectedHero.desc }}</p>
                <a (click)="gotoDetails()" class="btn btn-info text-light float-right">View Details</a>
            </div>
        </div>
    </div>

</div>
